@use "../variables" as *;

.fade-in-section {
    opacity: 0;
    transform: translateY(200px); // 縮小元素
    transition: all 2s ease;
}

.fade-in-up {
    opacity: 0;
    transform: translateY(200px); // 縮小元素
    transition: all 2s ease;
}

.fade-in-left {
    opacity: 0;
    transform: translateX(200px); // 縮小元素
    transition: all 2s ease;
}

.fade-in-right {
    opacity: 0;
    transform: translateX(-200px); // 縮小元素
    transition: all 2s ease;
}

.fade-in-down {
    opacity: 0;
    transform: translateY(-200px); // 縮小元素
    transition: all 2s ease;
}
.fade-in-3d {
    opacity: 0;
    transform: rotateX(90deg);
    transition: opacity 2s ease, transform 2s ease;
}
.visible {
    opacity: 1;
    transform: translate(0, 0); /* 同時重設 X 和 Y 變換 */
    transform: rotateY(0deg); /* 滾動進入畫面時進行 3D 翻轉 */
}
