// 文字顏色
$text-light: #e5dfd7;
$text-dark: #3c474d;
$btn-red: #9e3f3b;
$btn-green: #639872;
$btn-brown: #665d52;

// 主色
$primary-light: #c6ced2;
$primary-normal: #8d9da5;
$primary-dark: #5a6a72;
$primary-super-dark: #3c474d;
$secondary-light: #e5dfd7;
$secondary-dark: #665d52;
