@charset "UTF-8";
@font-face {
  font-family: "LocalFont";
  src: url("../assets/fonts/jf-openhuninn-2.0.ttf");
}
/* 重置所有標籤的樣式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: inherit;
}

html {
  scroll-behavior: smooth; /* 啟用平滑滾動 */
}

/* 重置字體 */
body {
  font-family: "LocalFont", sans-serif;
  font-size: 100%;
  line-height: 1.25;
  letter-spacing: 5%;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* 重置連接 */
a {
  text-decoration: none;
}

input {
  border: none;
}

textarea {
  border: none;
}

button {
  font-family: "LocalFont", sans-serif;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 8vw;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}
.nav-wrapper.hidden {
  transform: translateY(-100%);
}
.nav-wrapper.scrolled {
  background-color: rgba(0, 0, 0, 0.7);
}
@media (max-width:992px) {
  .nav-wrapper {
    padding: 0.5vh 4vw;
  }
}
@media (max-width:768px) {
  .nav-wrapper {
    padding: 0.5vh 1.5vw;
  }
}
@media (max-width:576px) {
  .nav-wrapper {
    padding: 2vw 3vw;
  }
}
.nav-wrapper .logo-wrapper {
  max-width: 230px;
  max-height: 67px;
  min-width: 115px;
  min-height: 33.5px;
  overflow: hidden;
}
.nav-wrapper .logo-wrapper .logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
@media (max-width:992px) {
  .nav-wrapper .logo-wrapper .logo {
    width: 80%;
    height: 80%;
  }
}
@media (max-width:768px) {
  .nav-wrapper .logo-wrapper .logo {
    width: 70%;
    height: 70%;
  }
}
@media (max-width:576px) {
  .nav-wrapper .logo-wrapper .logo {
    width: 60%;
    height: 60%;
  }
}
.nav-wrapper nav {
  display: flex;
  gap: 3.3vw;
}
@media (max-width:768px) {
  .nav-wrapper nav {
    gap: 1.5vw;
  }
}
@media (max-width:576px) {
  .nav-wrapper nav {
    flex-direction: column;
  }
}
.nav-wrapper nav a {
  font-size: 1.25rem;
  white-space: nowrap;
  color: #e5dfd7;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  transition: transform 0.3s ease, color 0.3s ease;
  transform-style: preserve-3d;
}
.nav-wrapper nav a::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3c474d;
  transition: width 0.3s ease;
}
.nav-wrapper nav a:hover {
  transform: scale(1.15);
}
.nav-wrapper nav a:hover::before {
  width: 100%;
}

.header-section {
  position: relative;
  width: 100%;
  height: 120vh;
  overflow: hidden;
}
.header-section .background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.header-section p.small {
  position: absolute;
  top: 32vh;
  left: 10vw;
  color: #e5dfd7;
  font-size: 2vw;
}
@media (max-width:992px) {
  .header-section p.small {
    font-size: 1.25rem;
  }
}
@media (max-width:576px) {
  .header-section p.small {
    font-size: 1rem;
  }
}
.header-section p.small span {
  opacity: 0;
  transform: translateY(200px);
  animation: fadeInUp 2s ease-in-out forwards;
}
.header-section p.small span.first-delay {
  animation-delay: 0s;
}
.header-section p.small span.second-delay {
  animation-delay: 0.5s;
}
.header-section p.small span.third-delay {
  animation-delay: 1s;
}
.header-section .big-container {
  position: absolute;
  width: auto;
  bottom: 5%;
  color: #e5dfd7;
  font-size: 18vw;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  transform: translateY(200px);
  animation: fadeInUp 2s 1.3s ease-in-out forwards;
}
@media (max-width:992px) {
  .header-section .big-container {
    bottom: 8%;
  }
}
@media (max-width:768px) {
  .header-section .big-container {
    bottom: 10%;
  }
}
@media (max-width:576px) {
  .header-section .big-container {
    bottom: 12%;
  }
}
.header-section .big-container .big1 {
  display: flex;
  animation: big1Move 30s -30s linear infinite;
}
.header-section .big-container .big1 span {
  margin-right: 10vw;
}
.header-section .big-container .big2 {
  display: flex;
  animation: big2Move 30s -15s linear infinite;
}
.header-section .big-container .big2 span {
  margin-right: 10vw;
}
@keyframes big1Move {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes big2Move {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.introduce {
  width: 100%;
  height: auto;
  background-color: #e5dfd7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 150px;
  padding: 200px;
}
@media (max-width: 1302px) {
  .introduce {
    padding: 200px 100px;
  }
}
@media (max-width: 1044px) {
  .introduce {
    padding: 200px 50px;
  }
}
@media (max-width: 533px) {
  .introduce {
    padding: 200px 0px;
  }
}
.introduce p.introduce-title {
  color: #3c474d;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}
@media (max-width:992px) {
  .introduce p.introduce-title {
    font-size: 1.25rem;
    margin-left: 0;
  }
}
@media (max-width:576px) {
  .introduce p.introduce-title {
    font-size: 1rem;
  }
}
.introduce .introduce-main {
  display: flex;
  width: 100%;
  gap: 20%;
  height: auto;
}
@media (max-width:992px) {
  .introduce .introduce-main {
    flex-direction: column;
    gap: 100px;
    align-items: center;
  }
}
.introduce .introduce-main .introduce-img {
  width: 22.5vw;
  height: 30.21vw;
  min-width: 246px;
  min-height: 330px;
}
.introduce .introduce-main .introduce-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.introduce .introduce-main .introduce-content {
  display: flex;
  flex-direction: column;
  color: #3c474d;
  height: 100%;
  gap: 100px;
}
.introduce .introduce-main .introduce-content .introduce-item h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.introduce .introduce-main .introduce-content .introduce-item p {
  font-size: 1rem;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(200px);
  transition: all 2s ease;
}

.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.slogan1 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/slogan-big-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
@media (max-width:992px) {
  .slogan1 {
    height: 60vh;
  }
}
.slogan1 p {
  position: absolute;
  bottom: 6.5vh;
  left: 4.7vw;
  color: #e5dfd7;
  font-size: 2vw;
}
@media (max-width:992px) {
  .slogan1 p {
    font-size: 1.25rem;
  }
}
@media (max-width:768px) {
  .slogan1 p {
    bottom: 20vh;
  }
}
@media (max-width:576px) {
  .slogan1 p {
    font-size: 1rem;
  }
}
.slogan1 .slogan1-img {
  position: absolute;
  right: 18.75vw;
  bottom: -14.8vh;
  width: 22.5vw;
  height: 30.2vw;
  min-width: 167px;
  min-height: 228px;
}
@media (max-width:992px) {
  .slogan1 .slogan1-img {
    bottom: -10vh;
  }
}
.slogan1 .slogan1-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.button-page {
  height: 287vh;
  background-color: #5a6a72;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18.5vh;
}
@media (max-width:992px) {
  .button-page {
    height: 200vh;
    gap: 10vh;
  }
}
.button-page .button-page-item1 {
  width: 87vw;
  display: flex;
  align-items: center;
}
@media (max-width:768px) {
  .button-page .button-page-item1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.button-page .button-page-item1 .button-page-img {
  width: 37.5vw;
  height: 50vw;
  margin-right: 12vw;
  min-width: 267px;
  min-height: 390px;
}
@media (max-width:768px) {
  .button-page .button-page-item1 .button-page-img {
    margin-right: 0;
    margin-bottom: 32px;
  }
}
.button-page .button-page-item1 .button-page-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.button-page .button-page-item1 .button-page-content {
  color: #e5dfd7;
  margin-left: 5%;
}
@media (max-width:768px) {
  .button-page .button-page-item1 .button-page-content {
    text-align: center;
  }
}
.button-page .button-page-item1 .button-page-content h3 {
  margin-bottom: 48px;
  font-size: 2vw;
}
@media (max-width:992px) {
  .button-page .button-page-item1 .button-page-content h3 {
    font-size: 1.5rem;
  }
}
.button-page .button-page-item1 .button-page-content p.button-page-content-big {
  margin-bottom: 32px;
  font-size: 1.5rem;
}
.button-page .button-page-item1 .button-page-content p.button-page-content-small {
  margin-bottom: 48px;
  font-size: 1rem;
}
.button-page .button-page-item1 .button-page-content .a-button {
  border-radius: 99px;
  background-color: #639872;
  color: #e5dfd7;
  padding: 12px 24px;
  transition: all 0.3s ease;
}
.button-page .button-page-item1 .button-page-content .a-button:hover {
  color: #639872;
  background-color: #e5dfd7;
}
.button-page .button-page-item1 .button-page-content .a-button span {
  margin-right: 10px;
}
.button-page .button-page-item2 {
  width: 87vw;
  display: flex;
  align-items: center;
  justify-content: end;
}
@media (max-width:768px) {
  .button-page .button-page-item2 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.button-page .button-page-item2 .button-page-content {
  color: #e5dfd7;
  margin-right: 5%;
}
@media (max-width:768px) {
  .button-page .button-page-item2 .button-page-content {
    text-align: center;
  }
}
.button-page .button-page-item2 .button-page-content h3 {
  margin-bottom: 48px;
  font-size: 2vw;
}
@media (max-width:992px) {
  .button-page .button-page-item2 .button-page-content h3 {
    font-size: 1.5rem;
  }
}
.button-page .button-page-item2 .button-page-content p.button-page-content-big {
  margin-bottom: 32px;
  font-size: 1.5rem;
}
.button-page .button-page-item2 .button-page-content p.button-page-content-small {
  margin-bottom: 48px;
  font-size: 1rem;
}
.button-page .button-page-item2 .button-page-content .a-button {
  border-radius: 99px;
  background-color: #639872;
  color: #e5dfd7;
  padding: 12px 24px;
  transition: all 0.3s ease;
}
.button-page .button-page-item2 .button-page-content .a-button:hover {
  color: #639872;
  background-color: #e5dfd7;
}
.button-page .button-page-item2 .button-page-content .a-button span {
  margin-right: 10px;
}
.button-page .button-page-item2 .button-page-img {
  width: 37.5vw;
  height: 50vw;
  margin-left: 12vw;
  min-width: 267px;
  min-height: 390px;
}
@media (max-width:768px) {
  .button-page .button-page-item2 .button-page-img {
    margin-left: 0;
    margin-bottom: 32px;
  }
}
.button-page .button-page-item2 .button-page-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slogan2 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/slogan-big-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
@media (max-width:992px) {
  .slogan2 {
    height: 60vh;
  }
}
.slogan2 p {
  position: absolute;
  bottom: 6.5vh;
  right: 8.3vw;
  color: #e5dfd7;
  font-size: 2vw;
}
@media (max-width:992px) {
  .slogan2 p {
    font-size: 1.25rem;
  }
}
@media (max-width:768px) {
  .slogan2 p {
    bottom: 20vh;
  }
}
@media (max-width:576px) {
  .slogan2 p {
    font-size: 1rem;
  }
}
.slogan2 .slogan2-img {
  position: absolute;
  left: 17vw;
  bottom: -14.8vh;
  z-index: 2;
  width: 22.5vw;
  height: 30.2vw;
  min-width: 167px;
  min-height: 228px;
}
@media (max-width:992px) {
  .slogan2 .slogan2-img {
    bottom: -10vh;
  }
}
.slogan2 .slogan2-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.filter {
  width: 100%;
  height: 180vh;
  background-color: #e5dfd7;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 20%;
  gap: 15%;
}
.filter p.filter-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3c474d;
  font-size: 2vw;
  width: 100%;
}
.filter p.filter-title span {
  margin-left: 10%;
}
.filter .filter-main {
  display: flex;
  justify-content: center;
  gap: 15%;
}
.filter .filter-img {
  width: 22.5vw;
  height: 30.2vw;
}
.filter .filter-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.filter .filter-form {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.filter .filter-form .filter-button {
  display: flex;
  gap: 24px;
}
.filter .filter-form .filter-button button {
  border: none;
  width: 180px;
  white-space: nowrap;
  text-align: center;
  padding: 12px 24px;
  border-radius: 99px;
  font-size: 1.5rem;
  color: #e5dfd7;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.filter .filter-form .filter-button button.black-tea {
  background-color: #9e3f3b;
}
.filter .filter-form .filter-button button.black-tea:hover {
  color: #9e3f3b;
  background-color: #e5dfd7;
  outline: 2px solid #9e3f3b;
}
.filter .filter-form .filter-button button.oolong-tea {
  background-color: #665d52;
}
.filter .filter-form .filter-button button.oolong-tea:hover {
  color: #665d52;
  background-color: #e5dfd7;
  outline: 2px solid #665d52;
}
.filter .filter-form .filter-button button.green-tea {
  background-color: #639872;
}
.filter .filter-form .filter-button button.green-tea:hover {
  color: #639872;
  background-color: #e5dfd7;
  outline: 2px solid #639872;
}
.filter .filter-form #tea-list .filter-content {
  width: 100%;
  height: 100%;
}
.filter .filter-form #tea-list .filter-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slogan3 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/slogan-big-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
@media (max-width:992px) {
  .slogan3 {
    height: 60vh;
  }
}
.slogan3 p {
  position: absolute;
  bottom: 6.5vh;
  left: 4.7vw;
  color: #e5dfd7;
  font-size: 2vw;
}
@media (max-width:992px) {
  .slogan3 p {
    font-size: 1.25rem;
  }
}
@media (max-width:768px) {
  .slogan3 p {
    bottom: 20vh;
  }
}
@media (max-width:576px) {
  .slogan3 p {
    font-size: 1rem;
  }
}
.slogan3 .slogan3-img {
  position: absolute;
  right: 18.75vw;
  bottom: -14.8vh;
  width: 22.5vw;
  height: 30.2vw;
  min-width: 167px;
  min-height: 228px;
}
@media (max-width:992px) {
  .slogan3 .slogan3-img {
    bottom: -10vh;
  }
}
.slogan3 .slogan3-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.form {
  background-color: #e5dfd7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 300px 0 200px 0;
  color: #3c474d;
}
@media (max-width:992px) {
  .form {
    height: 125vh;
  }
}
@media (max-width: 580px) {
  .form {
    height: 100vh;
  }
}
.form form {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  width: 580px;
}
@media (max-width: 580) {
  .form form {
    width: 100%;
  }
}
.form form p {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 20px;
}
.form form label {
  margin: 0 0 8px 0;
}
.form form label.required:after {
  content: " *"; /* 自動添加星號 */
  color: red; /* 將星號設置為紅色 */
}
.form form input {
  margin: 0 0 20px 0;
  border-radius: 1rem;
  padding: 1rem 1.25rem;
}
.form form textarea {
  margin: 0 0 20px 0;
  border-radius: 1rem;
  padding: 1rem 1.25rem;
}
.form form small {
  text-align: center;
  margin: 0 0 20px 0;
}
.form form button {
  font-size: 1.5rem;
  width: auto;
  border: none;
  border-radius: 99px;
  margin: 0 auto; /* 水平置中 */
  padding: 12px 120px;
  cursor: pointer;
  text-align: center;
  background-color: #639872;
  color: #e5dfd7;
  transition: all 0.3s ease-in-out;
}
.form form button:hover {
  background-color: #e5dfd7;
  color: #639872;
  outline: 2px solid #639872;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5a6a72;
  padding: 30px 0;
}
footer p {
  font-size: 1.25rem;
  color: #e5dfd7;
}

.back-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 100;
  background-color: #639872;
  color: #e5dfd7;
  padding: 12px 15px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
.back-to-top:hover {
  background-color: #e5dfd7;
  color: #639872;
  outline: 2px solid #639872;
}
.back-to-top:hover svg {
  transform: scale(1.3);
}
.back-to-top.show {
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=style.css.map */